DB\.h
API\.h
a.exe
a.exe.stackdump
*.out
include/DB\.h
include/API\.h
include/pg_config_ext\.h
vgcore*
*.gch

react/src/dbcon\.js

python/JobCaravan/

*.pyc

python/api/db\.py

python/api/dbkeys\.py

c/build\.log

c/output\.log

c/include/secret\.tar

python/pythonSecrets\.tar

secret\.tar
