docs/* linguist-documentation
python/JobCaravan/templates/* linguist-vendored
python/api/static/* linguist-vendored
python/static* linguist-vendored
*.log linguist-documentation
*.md linguist-documentation
*.sh linguist-vendored
c/include/pg_config_ext.h linguist-generated=true
c/lib/* linguist-generated=true
c/src/cJSON.c linguist-generated=true
