<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <style>
    </style>
    <title>Bootstrap Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href="{% static '/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">JobCaravan</a>
       <ul class="navbar-nav mr-auto">
          <li class="nav-item">
           <a class="nav-link btn btn-toolbar" href="main">Indeed</a>
          </li>
          <li class="nav-item">
           <a class="nav-link btn btn-toolbar" href="table">Table</a>
          </li>
          <li class="nav-item">
           <a class="nav-link btn btn-toolbar" href="leaflet">Map</a>
          </li>
       </ul>
         <a class="btn" href="" style="color:white;">Login</a>
    </nav>

   <title>JobCaravan: Transporting you from unemployment to employment! </title>
  </head>
  <body>
  <div class="jumbotron" id="homePage">
    <div class="container">
      <h1>Job Caravan</h1>
      <h3>Transporting you from unemployment to employment! </h3>
      <p class="lead">Created By Brandon Lo</p>
    </div>
  </div>
  </body>
</html>
