acme==0.10.2
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
certbot==0.10.2
characteristic==0.1.0
chardet==3.0.4
click==6.7
colorama==0.3.7
ConfigArgParse==0.11.0
configobj==5.0.6
configparser==3.5.0
constantly==15.1.0
cryptography==2.1.4
decorator==4.1.2
Django==1.11.13
django-rest-framework==0.1.0
djangorestframework==3.8.2
djangosecure==0.0.9
dnspython==1.12.0
enum34==1.1.6
funcsigs==1.0.2
future==0.16.0
html5lib==0.999
hyperlink==17.3.1
idna==2.6
incremental==16.10.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
Mako==1.0.0
MarkupSafe==0.23
meld3==1.0.2
mock==2.0.0
ndg-httpsclient==0.4.2
numpy==1.13.3
olefile==0.45.1
parsedatetime==1.4
pbr==1.8.0
psycopg2==2.7.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pycryptodome==3.6.1
pyOpenSSL==17.5.0
pyRFC3339==1.0
pyserial==3.4
pytz==2018.4
requests==2.11.1
SecretStorage==2.3.1
service-identity==16.0.0
six==1.10.0
Twisted==22.1.0
urllib3==1.16
uWSGI==2.0.17
virtualenv==16.0.0

