table.tablesorter thead tr .header {
    background-image: url(../tablesorter/themes/blue/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(../tablesorter/themes/blue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(../tablesorter/themes/blue/desc.gif);
}

.box{
    float:left;
    margin-right:20px;
}

iframe {
    height: 94%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
    overflow: auto;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #212121;
}

#homePage{
   background-color: #3E4551;
}
