#main_block {
  display: block; /* Useless, divs are display:block */
  width: 100%;    /* Useless, display:block elements are width:100% by default */
  height: 99%;   /* Fairly useless now, should take children's height */
  font-size:0;    /* Force space between inline-block elements to be 0 */
}
#left_frame {
  width: 50%;
}
#right_frame {
  width: 50%;
}
#left_frame,#right_frame {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  height: calc(100% - 50px);
}

.b_footer {
  padding: 10px;
  height: 50px;
  background-color: blue;
  text-align: center;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

h1, h2, h3, p{
  color: white
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #212121;
}

#homePage{
   background-color: #3E4551;
}

nav{
   text-decoration: none;  color: #fff;
}

#mapid {
   height: 99.41%;
   width: 50%;
}

#mapid2 {
   height: 100vh;
}

.views{
  display: inline-block;
}

.tablediv{
  margin: 0px;
  max-width: 49.79%;
  height: 99%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inline-block;
}

table{
   table-layout: fixed;
   overflow-wrap: break-word;
   width: 49.79%;
}
